
<!-- =============================Wrapper========================================================== -->
    <section class="wrapper">

      <!-- this is the top area with image and large write up for the about page  -->
      <div class="abt-lp">
        <h3 class="about-main-title">
          Account Comparison  
        </h3>

      </div>
      <!-- ===================================About us section ========================= -->

      <div class="col-md-8 col-sm-12" style="margin: 40px auto 20px auto;">
        <br />
        <h3 class="text-center"> 247premierdigitals ™</h3>
        <br />
        <p class="t-p text-center"> Our market offers clients different options when opening an account. Depending on the trader type, there are various accounts that may best suit your needs. If you open a premium account with us today, you can receive many valuable bonus features and services that will definitely enhance your experience trading with us.</p>
        
      </div> 

      
    
  <!--  four column section with choose a package section  -->
        <section class="container-fluid ">
          <h3 style="text-align: center;"> Our Trading Account Types </h3>
   
      <div class="container-fluid">
        <div class="row" style="padding: 20px;">

          <div class="col-lg-3 col-md-6 col-sm-12 plan-wrap">
            <div class="col-plan-inner">
              <div class="col-plan-head">
                <div style="padding: 10px;"> </div>
                <h2> STARTER </h2>
                <p> Within 14 trading days.  </p>
              </div>

              <p class="plan-text"><span class="lt-blue"> DAILY </span>  RETURN </p>
              <p class="plan-text"> Compounding <span class="lt-blue"> Total of </span>  35% </p>
              <p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 7 DAYS </p>

              <!-- those values ontop of the .... -->
              <div class="min-price float-left" >
                <b>MINIMUM</b><br>
                <span class="lt-blue"> <b> $ 500</b> </span>
              </div>
              <!-- this is a break -->
              
               <div class="min-price float-right">
                <b>MAXIMUM</b><br>
                <span class="lt-blue"> <b> $ 4999</b> </span>
              </div>
               <!-- those values ontop of the .... -->
              <div class="clearfix"></div>

          
                  <!-- ============this is the range slider========================= -->
                 <div class="container" style="padding:0 30px;">
                  <center>
                    <input type="text" id="amount-starter"  style="background: none; border: none; color: #fff; outline: none; text-align: center;">
                  </center>
                  <br />
                 <div id="slider-starter" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>

                
              <!-- </form> -->

              <!-- ===============this is the end of the range====================== -->
             
                
              </div>
              <!-- <form> -->


                <br />
                <!-- those values ontop of the .... -->


              <!-- <div class="min-price float-left" >
                <B>PER TIME</B> <br>
                 <span class="lt-blue"> <b> <span class="per-return-starter"> $  52.5 </span></b> </span>
              </div> -->
              <!-- this is a break -->
              
              <!--  <div class="min-price float-right">
                <B>TOTAL RETURN</B> <br>
                <span class="lt-blue"> <b><span class="total-return-stater"> $ 749.9</span> </b> </span>
              </div>
              <div class="clearfix"></div> -->
             
              <a href="/sign-up?package=starter">
               <div class="plan-signup">
                <center>
                  Sign up &nbsp <i class="fas fa-user dark-gold"></i>
                </center>
                
              </div>
               </a>
          
             
            </div>
          </div>  <!-- end the col -->



        

          <!-- =============================================================line break===================================================== -->

          <div class="col-md-3 col-sm-12 plan-wrap">
            <div class="col-plan-inner">
              <div class="col-plan-head">
                <div style="padding: 10px;"> </div>
                <h2> SILVER </h2>
                <p> 10% Daily </p>
              </div>

              <p class="plan-text"><span class="lt-blue"> DAILY </span>  RETURN </p>
               <p class="plan-text"> Compounding <span class="lt-blue"> Total of </span>  60% </p>
              <p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 6 DAYS </p>
             

              <!-- those values ontop of the .... -->
              <div class="min-price float-left" >
                <b>MINIMUM</b> <br>
                <span class="lt-blue"> <b> $ 1000 </b> </span>
              </div>
              <!-- this is a break -->
              
               <div class="min-price float-right">
                <b>MAXIMUM</b> <br>
                <span class="lt-blue"> <b> $ 9999</b> </span>
              </div>
               <!-- those values ontop of the .... -->
              <div class="clearfix"></div>

          
                  <!-- ============this is the range slider========================= -->
                 <div class="container" style="padding:0 30px;">
                  <center>
                    <input type="text" id="amount-silver"  style="background: none; border: none; color: #fff; outline: none; text-align: center;">
                  </center>
                  <br />
                 <div id="slider-silver" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>

                
              <!-- </form> -->

              <!-- ===============this is the end of the range====================== -->
             
                
              </div>
              <!-- <form> -->


                <br />
                <!-- those values ontop of the .... -->
             <!--  <div class="min-price float-left" >
                <b>PER TIME</b> <br>
                 <span class="lt-blue"> <b> <span class="per-return-silver"> $ 1124.925.</span>0</b> </span>
              </div> -->
              <!-- this is a break -->
              
               <!-- <div class="min-price float-right">
                <b>TOTAL RETURN</b> <br>
                <span class="lt-blue"> <b> <span class="total-return-silver"> $ 13499.1.0</span></b> </span>
              </div>
              <div class="clearfix"></div> -->


                <a href="/sign-up?package=silver">
               <div class="plan-signup">
                <center>
                  Sign up &nbsp <i class="fas fa-user dark-gold"></i>
                </center>
                
              </div>
               </a>
          
             
            </div>
          </div>  <!-- end the col -->

            <!-- =============================================================line break GOLD===================================================== -->

          <div class="col-md-3 col-sm-12 plan-wrap">
            <div class="col-plan-inner">
              <div class="col-plan-head">
                <div style="padding: 10px;"> </div>
                <h2> GOLD </h2>
                <p>15% Daily </p>
              </div>

              <p class="plan-text"><span class="lt-blue"> DAILY </span>  RETURN </p>
               <p class="plan-text"> Compounding <span class="lt-blue"> Total of </span>  75% </p>
              <p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 5 DAYS </p>

              <!-- those values ontop of the .... -->
              <div class="min-price float-left" >
                <b>MINIMUM</b> <br>
                <span class="lt-blue"> <b> $ 2500  </b> </span>
              </div>
              <!-- this is a break -->
              
               <div class="min-price float-right">
                <b>MAXIMUM</b> <br>
                <span class="lt-blue"> <b> $ 20000</b> </span>
              </div>
               <!-- those values ontop of the .... -->
              <div class="clearfix"></div>

          
                  <!-- ============this is the range slider========================= -->
                 <div class="container" style="padding:0 30px;">
                  <center>
                    <input type="text" id="amount-gold"  style="background: none; border: none; color: #fff; outline: none; text-align: center;">
                  </center>
                  <br />
                 <div id="slider-gold" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>

                
              <!-- </form> -->

              <!-- ===============this is the end of the range====================== -->
             
                
              </div>
              <!-- <form> -->


                <br />
                <!-- those values ontop of the .... -->
            <!--   <div class="min-price float-left" >
                <b>PER TIME</b> <br>
                 <span class="lt-blue"> <b> <span class="per-return-gold"> $ 4499.925.0 </span></b> </span>
              </div> -->
              <!-- this is a break -->
              
               <!-- <div class="min-price float-right">
                <b>TOTAL RETURN</b> <br>
                <span class="lt-blue"> <b> <span class="t-max"> <span class="total-return-gold"> $ 71998.8.0  </span></span></b> </span>
              </div>
              <div class="clearfix"></div> -->

                <a href="/sign-up?package=gold">
               <div class="plan-signup">
                <center>
                  Sign up &nbsp <i class="fas fa-user dark-gold"></i>
                </center>
                
              </div>
               </a>
          
             
            </div>
          </div>  <!-- end the col -->

           <!-- =============================================================line break===================================================== -->

          <div class="col-md-3 col-sm-12 plan-wrap">
            <div class="col-plan-inner">
              <div class="col-plan-head">
                <div style="padding: 10px;"> </div>
                <h2> PLATINUM </h2>
                <p> 40% Daily </p>
              </div>

              <p class="plan-text"><span class="lt-blue"> DAILY </span>  RETURN </p>
                <p class="plan-text"> Compounding <span class="lt-blue"> Total of </span>  120% </p>
              <p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 3 DAYS </p>

              <!-- those values ontop of the .... -->
              <div class="min-price float-left" >
                <b>MINIMUM</b> <br>
                <span class="lt-blue"> <b> $ 15000 </b> </span>
              </div>
              <!-- this is a break -->
              
               <div class="min-price float-right">
                <b>MAXIMUM</b> <br>
                <span class="lt-blue"> <b> $ 50000</b> </span>
              </div>
               <!-- those values ontop of the .... -->
              <div class="clearfix"></div>

          
                  <!-- ============this is the range slider========================= -->
                 <div class="container" style="padding:0 30px;">
                  <center>
                    <input type="text" id="amount-platinum"  style="background: none; border: none; color: #fff; outline: none; text-align: center;">
                  </center>
                  <br />
                 <div id="slider-platinum" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>

                
              <!-- </form> -->

              <!-- ===============this is the end of the range====================== -->
             
                
              </div>
              <!-- <form> -->


                <br />
                <!-- those values ontop of the .... -->
             <!--  <div class="min-price float-left" >
                <b>PER TIME</b> <br>
                 <span class="lt-blue"> <b> <span class="per-return-platinum"> $ 1124.925. </span>0</b> </span>
              </div> -->
              <!-- this is a break -->
              
              <!--  <div class="min-price float-right">
                <b>TOTAL RETURN</b> <br>
                <span class="lt-blue"> <b> <span class="total-return-platinum"> $ 13499.1.0 </span></b> </span>
              </div> -->
              <div class="clearfix"></div>

                <a href="/sign-up?package=gold">
               <div class="plan-signup">
                <center>
                  Sign up &nbsp <i class="fas fa-user dark-gold"></i>
                </center>
                
              </div>
               </a>
          
             
            </div>
          </div>  <!-- end the col -->


     
          
        </div> <!-- end row -->


           

               <!-- =========================each table ====================== -->

           

          
            
          </div>
          <!-- end conatiner -->
          
        </section>
        <!-- end main container -->
      
    </section> <!-- end wrapper -->

