
<!-- =============================Wrapper========================================================== -->
  <section class="wrapper">
    <section class="container-fluid bg-market">
          <div class="row">
            <div class="col-6 abt-us-txt">
              <h2 class="p-20 white">  Indices  </h2>
            </div>

       
          </div>

          <!-- the body section that contain the text =============== -->
          
        </section>
    <!-- ============BREADCUMB================== -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="black">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Indices</li>
      </ol>
    </nav>
    <br>
    <section class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-crypto">
          <div class="container">
            <br />
            <h2 class="text-right t-h2"> Indices</h2>

            <img src="/images/item-indices.png" >
            <div style="padding: 20px;">
              <h3> <b> Indices</b></h3>
              <p class="t-p">Every major stock market around the world has an index, or several indices, which reflect the status of a specific segment of that market. Indices are considered more stable than individual stocks since they contain many different assets, which tend to balance each other out. For example, the NASDAQ index on Wall Street aggregates major companies from the tech sector, such as Apple and Google, and since it contains rival companies, if one falls, sometimes its competitor will rise, keeping the index’s overall balance. Since companies vary in size and market cap, each stock has a different effect on the index, meaning some carry more weight. For example, since Apple has more weight than smaller companies within the NASDAQ index, if Apple’s stock rises significantly, it could lift the entire index’s value.</p>
              <br />

              <p>Some of our popular indices include: </p>
              <br />
              <ul class="crypto-list">
                <li> <i class="fas fa-arrow-right"></i> <b> Nasdaq (NSDQ100)</b> </li>
                <li> <i class="fas fa-arrow-right"></i> <b> DAX Index (GER30)</b> </li>
                <li> <i class="fas fa-arrow-right"></i> <b> Dow Jones (DJ30) </b> </li>
              </ul>

              <div class="clear-fix"></div>
    
              
            </div>
          </div> <!-- end container -->
          
          
          
        </div> <!-- end column-->

        <div class="col-md-4 col-sm-12">
          <div class="pad-55"></div>
          <div class="container">
            <div class="crypto-cat">
              <a href="/crypto"> <div> Cryptocurrencies</div> </a>
              <div class="current-crypto">  <p> <i class="fas fa-arrow-alt-circle-right"></i> &nbsp Indices</p></div>
             <a href="/forex"> <div> Forex</div> </a>
              <a href="/commodities"> <div> Commodities</div> </a>
              <a href="/shares"> <div> Shares</div> </a>
              <a href="/options-2"> <div> Options</div> </a>
              <a href="/etfs"> <div> ETFs</div> </a>
              <br />

               <div class="crypto-form"> 
                <h3 class="text-center"> Have a Question?  </h3>
                <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email*">
                </div>

                 <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                <button type="submit" class="plan-signup-crypto">Submit</button>
              </form>
              </div>
             
            </div>
            
          </div>

              
        </div> <!-- end the container --> 

        
      </div><!-- end row -->
      
    </section>

  </section>
  <!-- =============================End Wrapper========================================================== -->