<!-- =============================Wrapper========================================================== -->

  <section class="container-fluid sign-up-bg">
        <div class="col-lg-5 col-md-12 col-form">
        <div class = "p-20"> </div>
        <div class = "p-20"> </div>
        <div class = "p-20"> </div>

            <!-- ==================================this is the form section of the signup section ============================ -->

            <form class="form-main-sec" action="/sign-in" method="POST">

                <h4 class="white">SIGN IN </h4>
                <br />
              
				  <div class="col-12">
					<%- include("./partials/messages") %>
				  </div>
                  <div class="input-wrap">

                    <input type="email" class=" input-box" required=""  id="mail" required="required" name="email" style = "color:#fff">
                    <label>Enter Email </label>
                  </div>

             <div class="input-wrap">

                    <input type="password" class=" input-box" required=""  id="password" required="required" name="password" style = "color:#fff">
                    <label>Secure Password  </label> <br> <span style="color:red;">  </span>

                  </div> <br> <br>


            <!--  ================end ==================== -->


             <center>

                 <button type="submit" class="btn btn-primary btn-submit" name="login" id='submit'>Submit</button>

             </center>

             <br />

             <!-- <center>

                  <a href="forget_password.php" class="lt-blue"> Forgot Password? </a>

             </center> -->

             <center>

                  <a href="/accounts-comparison" class="lt-blue"> Register </a>

             </center>

              

            </form>



            <div class="form-action">

                           </div>

            

            

        </div>

        <!-- end col -->

           

       </section>

       <!-- end main section  -->

       <!-- two column section for the signup page in the address -->

        <div style=" padding: 20px; "></div>

       <section class="container">

        <div class="row">

            <div class="col-sm-4">

                <center>

                    <i class="fas fa-headphones-alt" style="font-size: 6em;" class="lt-blue"></i>

                </center>

                

                <p style="font-size: 1.1em"  class="text-center"> 24/7 Customer Support </p>

            </div>

            <!-- end -->



            <div class="col-sm-4">

                <center>

                    <i class="fas fa-envelope" style="font-size: 6em;" ></i>

                </center>

                

                <p style="font-size: 1.1em;"  class="text-center"> <a href="mailto:support@247premierdigitals.com" class ="black"> support@247premierdigitals.com</a> </p>

            </div>

            <!-- end -->



            <div class="col-sm-4">

                <center>

                    <i class="fas fa-comments" style="font-size: 6em;" class="lt-blue"></i>

                </center>

                

                <p style="font-size: 1.1em" class="text-center"> Friendly Support Ticket </p>

            </div>

            <!-- end -->


            <!-- end -->

            

        </div>

           

       </section>
	   </section>

