
</nav><div class="root-content">
<div class="pusher push-trading">
	<div><div class="pusher">
 <section class="img-bg-section">
     <div class="row">
         <ul class="tabs">
             <li><a href="#" class="active">Transactions History</a></li>
            <li> <a href="/trade-history" class="">Trading History</a></li>
         </ul>
         <div class="mob-tab-nav mob-main-tabs">
             <div class="ui not_select dropdown mob-tabular" tabindex="0">
                 <div class="text default">Transactions History</div>
                 <i class="dropdown icon"></i>
                 <div class="menu" tabindex="-1">
                    
                     <a href="/trade-history" class="item">Trading History</a>
                 </div>
             </div>
         </div>

         
            <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-header border-0">
                        <!-- <h4 class="card-title">Transaction History</h4> -->
                    </div>
                    <div class="card-body pt-0">
                        <div class="transaction-table">
                                                    <div class="table-responsive">
                                     <!-- <h5>You have not make any transaction yet</h5><br> -->
                                     <p>All your trading history will appear here.</p>
                             </div>
                             
                   </tbody>


                   <tbody>
                                           
                   </tbody>
               </table>
               </div>
           </div>
       </div>
   </div>
</div>
</div>  <!--END -->

<script class="ng-scope">
    $(function(){
        $('.ui.dropdown').dropdown();
    });
</script></div>
</div>
                                            </div>
</div>
											
											